name: CI/CD basilisk-bc2 (ProjectService)

on:
  push:
    branches:
      - basilisk-master-bc2
      - 'basilisk-master-bc2/**'
  pull_request:
    branches:
      - basilisk-master-bc2
      - 'basilisk-master-bc2/**'

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build --no-daemon

      - name: Build and Run Tests with Gradle
        run: ./gradlew test --no-daemon
